<div class="container-fluid">



  <div class="row">
    <div class="list-group">
      <a href="Model1" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Model1 page ...
      </a>
    </div>
  </div>

</div>
